<!DOCTYPE html>
<html lang="en">
<!--https://youtu.be/CQZxeoQeo5c-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Importing custom font https://stackoverflow.com/questions/70417889/how-to-add-custom-fonts-in-visual-studio-and-show-fonts-in-the-properties-menus -->
    <!--https://fonts.google.com/selection/embed-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <style>
        /* create different classes within style to customize the webpage  */
        body {
            text-align: center; /* Align all the text to the center of the page*/
            font-family: 'Times New Roman', serif; /* font for default web page text */
            /*https://www.w3schools.com/html/html_images_background.asp*/
            background-image: url("https://static.vecteezy.com/system/resources/previews/024/435/050/non_2x/technologic-linear-background-with-dots-and-lines-in-the-style-of-dark-teal-and-dark-sky-blue-human-connections-32k-uhd-neo-academism-generat-ai-free-photo.jpg"); /*import the background image from the web */
            background-size: cover; /*backgorund image should cover the whole page */
            background-position: center; /* background image should be generated at the center of the page */
        }

        .titleFont {
            font-size: 100px;
            color: cornflowerblue;
            font-family: 'Pacifico', sans-serif; /* Use imported font */
            text-align: center;
            text-shadow: 2px 2px 4px #000000;
        }

        .aboutText {
            color: white;
            font-size: 40px; /* Adjusted font size */
            text-shadow: 2px 2px 4px #000000; /* Add shadow to about text */
            font-family: 'Times New Roman', serif;
        }
    </style>
</head>

<body>
    <!-- Input the text to be displayed on the webpage using <h>. The text will inherit its text properties from the classes -->
    <h1 class="titleFont">KhumaloCraft</h1>
    <h2 class="aboutText">
        KhumaloCraft was founded by James Khumalo in 2024. James, being a visionary entrepreneur,
        set out to create and deploy KhumaloCraft Emporium as a global e-commerce platform to connect artisans around the world and provide them with an accessible,
        scalable, user friendly, and an enjoyable platform to showcase and advertise their meticulously handcrafted pieces all while providing
        customers with a high-quality shopping experience.<br> The goal of KhumaloCraft is to create a global community of passionate artisans and consumers interested in unique craftwork.
    </h2>
</body>

</html>
