<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!--https://youtu.be/CQZxeoQeo5c-->
    <style>
        /* create different classes within style to customize the webpage  */
        body {
            font-family: 'Times New Roman', serif; /* font for default web page text */
            text-align: center; /* Align all the text to the center of the page*/
            /*https://www.w3schools.com/html/html_images_background.asp*/
            background-image: url("https://c4.wallpaperflare.com/wallpaper/660/397/67/triangular-shapes-black-and-teal-panel-wallpaper-preview.jpg"); /*import the background image from the web */
            background-size: cover; /*backgorund image should cover the whole page */
            background-position: center; /* background image should be generated at the center of the page */
        }

        .title {
            color: cornflowerblue;
            font-size: 90px;
            text-align: center;
            text-shadow: 2px 2px 4px #000000; /* text shadow for the title text*/
            font-family: 'Berlin Sans FB', serif;
        }

        .contactDetails {
            color: white;
            font-size: 40px;
            text-align: center;
            text-shadow: 2px 2px 4px #000000;
        }

        .socialMedia {
            color: white;
            font-size: 40px;
            text-align: center;
            text-shadow: 2px 2px 4px #000000;
        }
    </style>
</head>
<body>
    <!-- Input the text to be displayed on the webpage using <h>. The text will inherit its text properties from the classes -->
    <!--<br> adds a line break https://blog.hubspot.com/website/html-line-break#:~:text=In%20HTML%2C%20the,and%20resume%20on%20the%20next.-->
    <h1 class="title">KhumaloCraft Contact Details</h1>
    <h2 class="contactDetails">E-mail: JamesKhumalo@gmail.com<br>Cell: 084 123 4567<br />Website: www.KhumaloCraft.com</h2>
    <h3 class="title">Follow us on social media!</h3>
    <h4 class="socialMedia">Instagram:KhumaloCraft2024<br>TikTok:KhumaloCraft0324<br>Twitter:KhumaloCraft</h4>
</body>
</html>
