<!DOCTYPE html>
<html lang="en">
<head>
    <!--https://youtu.be/CQZxeoQeo5c-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Import custom font -->
    <!--https://fonts.google.com/selection/embed-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <style>
        /* create different classes within style to customize the webpage */
        body {
            text-align: center; /* align text to center */
            font-family: 'Times New Roman', serif; /* font change for the default text on the page */
            /*https://www.w3schools.com/html/html_images_background.asp*/
            background-image: url("https://wallpapers.com/images/hd/dark-teal-j3e828u2eeqsuclo.jpg"); /* import the background image from the web */
            background-size: cover; /* background image should cover the entire page */
            background-position: center; /* background image should appear at the center of the screen */
        }

        .title {
            font-size: 100px; /* text size*/
            color: cornflowerblue; /* colour for the title text*/
            font-family: 'Pacifico', sans-serif; /* imported font */
            text-align: center; /* Align text to the center of the page*/
            text-shadow: 2px 2px 4px #000000; /* text shadow for the title text*/
        }

        .bodyText {
            font-size: 50px;
            color: white;
            font-family: 'Times New Roman', serif;
            text-align: center;
            text-shadow: 2px 2px 4px #000000;
        }
    </style>
</head>
<body>
    <!-- Input the text to be displayed on the webpage using <h>. The text will inherit its text properties from the classes -->
    <h1 class=" title">KhumaloCraft</h1>
    <h2 class=" bodyText">
        Welcome to the KhumaloCraft homepage! Khumalo Craft is a space where artisans from around the world showcase their craftwork to the world.
        From this page you'll be able to navigate between the about us page, contact us page, and the my work page.
    </h2>
</body>
</html>
